
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# DO NOT REMOVE THIS LINE AND THE LINES BELOW SSL_REDIRECT:meencantacosmeticos.com.br
RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^meencantacosmeticos.com.br$
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE SSL_REDIRECT:meencantacosmeticos.com.br
